{% extends 'base.html' %}
{% load static %}

{% block body %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

	
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg-1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h2 class="mb-0 bread">Over mij</h2>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-round-forward"></i></a></span> <span>Over mij <i class="ion-ios-arrow-round-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="ftco-section ftco-no-pb ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-6 d-flex">
						<div class="p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/massage-room.jpg);">
						</div>
					</div>
					<div class="col-md-6 py-md-5 pb-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section mb-4 mt-md-5">
	          	<span class="subheading">Over mij</span>
	            <h2 class="mb-4">Welkom bij Massagepraktijk Radomisli</h2>
	          </div>
	          <div class="pb-md-5">
							<p>Met meer dan 10 jaar ervaring in massagetherapie, help ik mensen om zich beter te voelen en te ontspannen. Mijn praktijk is gespecialiseerd in verschillende massagetechnieken, waaronder sportmassage, ontspanningsmassage en therapeutische massage.</p>
							<p>Iedere behandeling wordt afgestemd op jouw persoonlijke behoeften en klachten. Of je nu komt voor het verlichten van spierpijn, stress of gewoon voor een moment van ontspanning, ik zorg ervoor dat je de behandeling krijgt die het beste bij je past.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="container-fluid px-0">
				<div class="row no-gutters">
					<div class="col-md text-center d-flex align-items-stretch">
						<div class="services-wrap d-flex align-items-center img" style="background-image: url(images/sports-massage.jpg);">
							<div class="text">
								<h3>Sportmassage</h3>
								<p><a href="#price" class="btn-custom">Bekijk tarieven <span class="ion-ios-arrow-round-forward"></span></a></p>
							</div>
						</div>
					</div>
					<div class="col-md-3 text-center d-flex align-items-stretch">
						<div class="text-about py-5 px-4">
							<h1 class="logo">
								<a href="#"><span></span>Yuri Radomisli</a>
							</h1>
							<h2>Mijn aanpak</h2>
							<p>In mijn praktijk staat persoonlijke aandacht centraal. Ik neem de tijd om naar je klachten te luisteren en samen een behandelplan op te stellen. Met mijn expertise en ervaring help ik je om je lichaam beter te begrijpen en te verzorgen.</p>
							<p class="mt-3"><a href="#appointments" class="btn btn-primary btn-outline-primary">Maak een afspraak</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="testimony-section bg-light">
      <div class="container">
        <div class="row ftco-animate justify-content-center">
        	<div class="col-md-6 col-lg-5 d-flex">
        		<div class="testimony-img" style="background-image: url(images/massage-treatment.jpg);"></div>
        	</div>
          <div class="col-md-6 col-lg-7 py-5 pl-md-5">
          	<div class="py-md-5">
	          	<div class="heading-section ftco-animate">
	          		<span class="subheading">Reviews</span>
			          <h2 class="mb-0">Tevreden klanten</h2>
			        </div>
	            <div class="carousel-testimony owl-carousel ftco-animate">
	              <div class="item">
	                <div class="testimony-wrap pb-4">
	                  <div class="text">
	                    <p class="mb-4">Yuri is een zeer professionele en kundige masseur. Na een sportblessure heeft hij me enorm geholpen met het herstel. Ik kan zijn praktijk van harte aanbevelen!</p>
	                  </div>
	                  <div class="d-flex">
		                  <div class="pos ml-3">
		                  	<p class="name">Peter de Vries</p>
		                    <span class="position">Sporter</span>
		                  </div>
		                </div>
	                </div>
	              </div>
	              <div class="item">
	                <div class="testimony-wrap pb-4">
	                  <div class="text">
	                    <p class="mb-4">De ontspanningsmassages bij Yuri zijn precies wat ik nodig heb na een drukke werkweek. Hij voelt perfect aan waar de spanning zit en lost dit op.</p>
	                  </div>
	                  <div class="d-flex">
		                  <div class="pos ml-3">
		                  	<p class="name">Sandra Bakker</p>
		                    <span class="position">Manager</span>
		                  </div>
		                </div>
	                </div>
	              </div>
	            </div>
	          </div>
          </div>
        </div>
      </div>
    </section>
{% endblock body %}