{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
  <style>
    .success-message {
      margin-top: 50px;
      padding: 20px;
      background-color: #dff0d8;
      border: 1px solid #d6e9c6;
      border-radius: 4px;
      color: #3c763d;
      text-align: center;
    }
  </style>
{% endblock css %}

{% block body %}
    <!-- Hero Section -->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/center.jpg' %}');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h2 class="mb-0 bread">Neem contact op</h2>
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-round-forward"></i></a></span> <span>Contact<i class="ion-ios-arrow-round-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section">
        <div class="container my-5">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div id="popup-message" class="alert alert-success" style="display: none;">
                            <section class="success-message">
                                <div class="container">
                                    <h2>{{message.name}}, je bericht is succesvol verzonden!</h2>
                                    <p>We hebben je bericht ontvangen en nemen zo snel mogelijk contact met je op.</p>
                                    <p>Bedankt voor je bericht!</p>
                                </div>
                            </section>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="row justify-content-center pb-3">
                <div class="col-md-10 heading-section text-center ftco-animate">
                    <span class="subheading">Contact</span>
                    <h2 class="mb-4">Neem contact met me op</h2>
                </div>
            </div>
            <div class="row py-5">
                <div class="col-lg-8">
                    <form class="message-form" action="{% url 'contact:contact' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Je naam</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Vul je naam in" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Je e-mailadres</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Vul je e-mailadres in" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Je telefoonnummer</label>
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Vul je telefoonnummer in" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Bericht</label>
                            <textarea class="form-control" id="message" name="message" rows="5" placeholder="Schrijf je bericht" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary rounded-pill">Verstuur bericht</button>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="owner-info">
                        <h1 class="logo">
                            <a href="#"><span class=""></span>Yuri Radomisli</a>
                        </h1>
                        <p class="icon icon-map-marker"> Adres: {{ owner.address }}</p>
                        <p class="icon icon-envelope"> E-mail: {{ owner.email }}</p>
                        <p class="icon icon-phone"> Telefoon: {{ owner.phone }}</p>
                        <p class="icon icon-clock-o"> Openingstijden: {{ owner.work_days }} van {{ salon_data.owner.opening_time|time:'H:i' }} tot {{ salon_data.owner.closing_time|time:'H:i' }} Zondag: gesloten</p>
                        <p class="icon icon-link"> Website: <a href="https://radomisli.nl" target="_blank">radomisli.nl</a></p>
                        <img src="{{salon_data.owner.logo.url}}" alt="Yuri Radomisli">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        window.onload = function() {
            var popup = document.getElementById('popup-message');
            if (popup) {
                popup.style.display = 'block';
            }
        };
    </script>
{% endblock body %}

